*{
  margin: 0;
  padding: 0;
}
.container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-wrapper{
  background-color: #f6f7f8;
  border: 2px solid #ccc;
  min-width: 80%;
  min-height: 500px;
  padding: 30px;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}


input:focus,
button:focus{
  outline: none;
}